<html>
<head><title>nav</title></head>
<body style="background:#c8ccd8; margin:4px;">
<font face="Verdana, Arial" size="2">
<table border="0" cellpadding="3" cellspacing="0" width="100%">
<tr><td><b>Signed in:</b><br><font size="1">{{ user }}</font></td></tr>
<tr><td><hr></td></tr>
<tr><td><a href="/main/home" target="main">Home</a></td></tr>
<tr><td><a href="/main/members" target="main">Member Lookup</a></td></tr>
<tr><td><a href="/main/reports" target="main">Reports</a></td></tr>
<tr><td><hr></td></tr>
<tr><td><a href="/logout" target="_top">Sign Out</a></td></tr>
</table>
</font>
</body>
</html>
