{% extends "base.html" %}
{% block body %}
<table class="c1" width="100%" cellpadding="6">
<tr><td colspan="2"><font size="4"><b>Change Password</b></font></td></tr>
<tr><td width="160">Current Password</td><td><input type="password" name="current" size="20"></td></tr>
<tr><td>New Password</td><td><input type="password" name="new1" size="20"></td></tr>
<tr><td>Confirm New Password</td><td><input type="password" name="new2" size="20"></td></tr>
<tr><td></td><td><input type="submit" value="Change Password"></td></tr>
</table>
{% endblock %}
